/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html {
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: black;
}

[layout=row] {
  flex-direction: row;
}

md-toolbar.md-default-theme {
  background-color: black;
}

md-content {
  background-color: black;
}

md-grid-list {
  margin: 8px;
  md-grid-tile {
    transition: all 300ms ease-out 50ms;
    &:hover {
      opacity: .6;
      transition: all 300ms ease-out 50ms;
      cursor: pointer;
    }
    figure {
      overflow: hidden;
      img {}
      figcaption {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #2d2d2d;
        h3 {
          margin: 0;
          font-weight: 700;
          width: 100%;
          text-align: center;
          padding: 15px 10px;
          color: #fff;
        }
      }
    }
  }
}

md-input-container {
  margin-top: 24px;
  .md-input {
      color: white;
      border-bottom: 1px solid white;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
